*{
	margin:0;
	padding:0;
	}
body {
    background:#380C0B url(../images/bg.jpg) no-repeat fixed center top / cover ;
	width:100%;
    display: block;
	font-family:Arial, Helvetica, sans-serif;
	color:#343434;
	font-size:13px;
}
a{
	text-decoration:none;
	color:#d53827;
	}
a image{
	border:none;
	}
ul{
	list-style:none;
	}
article, aside, section, details, footer, header, menu, nav{
	display:block;
	} 
input, textarea, select{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	}
textarea{
	overflow:auto;
	}
html, body{
	height:100%;
	}
.clear-div{
	clear:both;
	margin:0;
	}
#wrapper{
	width:980px;
	margin:0 auto;
	}
.signin-regs{
	float:right;
	background:url(../images/menu-bg.png) repeat;
	padding:6px 12px 8px 6px;
	border-bottom-right-radius:2em;
	/*border-bottom-left-radius:2em;*/
	}
.signin-regs ul{
	list-style:none;
	}
.signin-regs ul li{
	float:left;
	margin:0 5px;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	color:#fff;
	}
.signin-regs ul li a{
	color:#fff;
	}
.signin-regs ul li a img{
	float:left;
	margin-right:6px;
	}
.signin-regs ul li a:hover{
	text-decoration:underline;
	}
.top-nav{
	float:right;
	margin-top:20px;
	background:url(../images/menu-bg.png) repeat;
	height:38px;
	}
.top-nav ul{
	list-style:none;
	}
.top-nav ul li{
	float:left;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	color:#fff;
	height:38px;
	}
.top-nav ul li a{
	color:#fff;
	padding:0 16px;
	display:block;
	line-height:38px;
	}
.top-nav ul li a:hover, .top-nav ul li.active a{
	background:#fff;
	color:#ce8200;
	}
.main-content{
	float:left;
	position:relative;
	background:url(../images/cont-bg.png) right;
	width:960px;
	padding:10px 10px;
	box-shadow:0 0 10px #000000;
	margin-top:10px;
	}
.content{
	border:2px solid #b27300;
	padding:6px;
	width:944px;
	float:left;
	}
.banner{
	float:left;
	position:relative;
	width:100%;
	}
.logo{
	position:absolute;
	z-index:10000;
	left:0;
	top:-70px;
	}
.cont-details{
	float:left;
	width:100%;
	}
.border-btn {
    background: url(../images/border-bg.png) repeat center ;
    float: left;
    height: 15px;
    margin-top: 10px;
    width: 100%;
}
.cont-details h1{
	float:left;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-size:30px;
	color:#2b2b2b;
	margin-top:10px;
	font-weight:500;
	}
.cont-details p{
	font-size:13px;
	font-family:arial;
	float:left;
	width:96%;
	padding:0% 2%;
	text-align:center;
	color:#343434;
	margin-top:10px;
	margin-bottom:10px;
	}
.search-div{
	float:left;
	width:380px;
	margin-left:45px;
	margin-right:45px;
	margin-top:15px;
	margin-bottom:25px;
	}
.search-div h2{
	float:left;
	width:100%;
	font-family:arial;
	font-size:28px;
	color:#d53827;
	font-weight:normal;
	}
.search-div p{
	font-size:13px;
	font-family:arial;
	float:left;
	width:90%;
	text-align:left;
	color:#343434;
	margin-top:10px;
	margin-bottom:10px;
	padding:0;
	}
.search-textbox{
	float:left;
	height:30px;
	background:#fff;
	border:1px solid #c79237;
	padding:0 3px;
	width:350px;
	margin-top:5px;
	}
.search-btn{
	float:left;
	background:#ffb400;
	border-bottom:1px solid #b15c00;
	border-top:3px solid #b15c00;
	border-left:1px solid #b15c00;
	border-right:1px solid #b15c00;
	margin-top:10px;
	padding:4px 15px;
	font-size:18px;
	font-family:arial;
	cursor:pointer;
	margin-right:15px;
	color:#000;
	}
.forgot-password{
	float:left;
	margin-top:20px;
	font-family:arial;
	font-size:13px;
	/*margin-left:10px;*/
	}
.forgot-password a{
	color:#4d3000;
	}
.forgot-password a img{
	float:left;
	margin-right:3px;
	width:18px;
	height:18px;
	}
.footer{
	float:left;
	width:100%;
	padding:25px 0;
	background:url(../images/footer-bg.png);
	}
.footer-left{
	float:left;
	}
.footer-left ul{
	list-style:none;
	}
.footer-left ul li{
	float:left;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#eabe73;
	margin-left:12px;
	margin-right:6px;
	}
.footer-left ul li a{
	color:#eabe73;
	}
.footer-left p{
	float:left;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#eabe73;
	margin-left:12px;
	margin-top:6px;
	}
.footer-right{
	float:right;
	}
.footer-right ul{
	list-style:none;
	}
.footer-right ul li{
	float:left;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#eabe73;
	margin-left:6px;
	margin-right:12px;
	}
.footer-right ul li a{
	color:#eabe73;
	}
.reg-account{
	float:left;
	margin-top:15px;
	width:100%;
	font-size:14px;
	}
.inner-page{
	float:left;
	width:96%;
	padding:0 2%;
	margin-bottom:2%;
	}
.inner-page h1{
	float:left;
	width:100%;
	text-align:right;
	text-transform:uppercase;
	font-size:30px;
	color:#2b2b2b;
	margin-top:25px;
	font-weight:500;
	}
.how-it-works{
	float:left;
	width:100%;
	margin-top:45px;
	}
.how-it-works img{
	float:left;
	width:170px;
	height:auto;
	margin:0 15px 5px 0;
	/*border:2px solid #fff;*/
	}
.how-it-works p{
	font-family:arial;
	font-size:13px;
	color:#343434;
	line-height:20px;
	margin-bottom:15px;
	}
.contact-form{
	float:left;
	width:100%;
	margin-top:45px;
	}
.contact-form h2{
	font-size:16px;
	float:left;
	width:100%;
	font-weight:normal;
	margin-bottom:12px;
	}
.error-message{
	float:left;
	font-family:arial;
	font-size:13px;
	color:#F00;
	border:1px solid #B27300;
	padding:4px 14px 4px 8px;
	background:#f7ebd6;
	width:94%;
	}
.error-message span{
	float:left;
	margin-left:7px;
	margin-top:7px;
	background-image:url(../images/error.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:40px;
	min-height:30px;
	line-height:26px;
	}
	
.success-message{
	float:left;
	font-family:arial;
	font-size:13px;
	color:#8bb800;
	/*width:480px;*/
	border:1px solid #B27300;
	padding:4px 14px 4px 8px;
	background:#f7ebd6;
	width:94%;
	}
.success-message span{
	float:left;
	margin-left:7px;
	margin-top:7px;
	/*width:420px;*/
	background-image:url(../images/success.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:40px;
	min-height:30px;
	line-height:26px;
	}
.warning-message{
	float:left;
	font-family:arial;
	font-size:13px;
	color:#F00;
	border:1px solid #B27300;
	padding:4px 14px 4px 8px;
	background:#f7ebd6;
	width:94%;
	}
.warning-message span{
	float:left;
	margin-left:7px;
	margin-top:7px;
	background-image:url(../images/warning.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:40px;
	min-height:30px;
	line-height:26px;
	}
.contact-form p{
	float:left;
	width:100%;
	margin-bottom:5px;
	margin-top:10px;
	}
.contact-form p label{
	float:left;
	width:140px;
	font-family:arial;
	font-size:14px;
	color:#000;
	margin-bottom:8px;
	margin-top:6px;
	}
.contact-input{
	float:left;
	width:420px;
	height:30px;
	border:1px solid #a9a9a9;
	padding-left:3px;
	padding-right:3px;
	}
.contact-select{
	float:left;
	width:426px;
	height:30px;
	border:1px solid #a9a9a9;
	padding-left:3px;
	}
.contact-textarea{
	float:left;
	width:500px;
	height:150px;
	border:1px solid #a9a9a9;
	padding-left:3px;
	}
.cont-submit{
	float:left;
	margin-left:140px;
	}

.registation{
	float:left;
	width:430px;
	margin-top:45px;
	border-right:1px solid #916a28;
	padding-right:25px;
	}
.registation h2{
	float:left;
	width:100%;
	font-size:24px;
	font-family:arial;
	font-weight:normal;
	color:#d53827;
	margin-bottom:10px;
	line-height:35px;
	}
h2{
	line-height:35px;
	}
h2 img{
	float:left;
	margin-right:5px;
	}
.registation h3{
	font-size:16px;
	float:left;
	width:100%;
	font-weight:normal;
	margin-bottom:12px;
	}
.registation p{
	float:left;
	width:100%;
	margin-bottom:5px;
	margin-top:5px;
	}
.registation p label{
	float:left;
	width:100%;
	font-family:arial;
	font-size:14px;
	color:#000;
	margin-bottom:4px;
	margin-top:6px;
	}
.registation-textarea {
    border: 1px solid #A9A9A9;
    float: left;
    height: 150px;
    padding-left: 3px;
    width: 425px;
}
.sign-in{
	float:left;
	width:424px;
	margin-top:45px;
	border-left:1px solid #916a28;
	padding-left:25px;
	margin-left:-1px;
	}
.sign-in h2{
	float:left;
	width:100%;
	font-size:24px;
	font-family:arial;
	font-weight:normal;
	color:#d53827;
	margin-bottom:10px;
	}
.sign-in h3{
	font-size:16px;
	float:left;
	width:100%;
	font-weight:normal;
	margin-bottom:12px;
	}
.sign-in p{
	float:left;
	width:100%;
	margin-bottom:5px;
	margin-top:5px;
	}
.sign-in p label{
	float:left;
	width:100%;
	font-family:arial;
	font-size:14px;
	color:#000;
	margin-bottom:4px;
	margin-top:6px;
	}
.registation-textarea {
    border: 1px solid #A9A9A9;
    float: left;
    height: 150px;
    padding-left: 3px;
    width: 425px;
}
.bill-tracking{
	float:left;
	width:100%;
	margin-top:45px;
	}
.tracking-top{
	float:left;
	width:97%;
	background:#916a28;
	color:#fff;
	padding:0.5% 1.5%;
	}

/*.bill-tracking td img{
	float:left;
	margin-right:2px;
	}*/
.table-title {
    background-color:#855400;
    color: #FFFFFF;
    font-family: arial;
    font-size:13px;
    font-weight: normal;
    text-transform: none;
}
.current-int {
    color: #000;
    font-family:arial;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
	background:#ffb400;
}
.past-int {
    color: #000;
    font-family:arial;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
	background:#DBA252;
}
.note{
    color: #FFFFFF;
    font-family: arial;
    font-weight: normal;
    line-height: normal;
	background:#BC9E74;
}
.tracking-top ul{
	float:right;
	list-style:none;
	height:21px;
	}
.tracking-top ul li{
	float:left;
	font-family:arial;
	font-size:13px;
	color:#fff;
	line-height:21px;
	margin-left:13px;
	}
.tracking-top ul li img{
	float:left;
	margin-right:5px;
	}
.tracking-top ul li a{
	color:#fff;
	}
.add-con{
	float:left;
	width:57%;
	margin-top:10px;
	padding-left:5%;
	}
.add-con-dets{
	float:left;
	width:100%;
	margin-top:8px;
	margin-bottom:7px;
	}
.add-con-rept{
	float:left;
	width:100%;
	}
.add-con-dets label{
	float:left;
	width:100%;
	font-family:arial;
	font-size:15px;
	margin-bottom:4px;
	}
.input-text{
	float:left;
	width:320px;
	padding:0 3px;
	border:1px solid #B27300;
	height:25px;
	/*margin-right:15px;*/
	}
.input-check{
	float:left;
	padding:0 3px;
	border:1px solid #B27300;
	height:20px;
	line-height:20px;
	margin-right:15px;
	}
.verify-btn{
	float:left;
	background:#ffb400;
	border-bottom:1px solid #b15c00;
	border-top:3px solid #b15c00;
	border-left:1px solid #b15c00;
	border-right:1px solid #b15c00;
	padding:2px 12px;
	font-size:14px;
	font-family:arial;
	cursor:pointer;
	margin-left:15px;
	}
.brows-file{
	float:left;
	background:#A98346;
	padding:3px;
	width:320px;
	}
.text-box{
	float:left;
	width:420px;
	padding:0 3px;
	border:1px solid #B27300;
	height:125px;
	/*margin-right:15px;*/
	}
.add-con-dets a{
	float:left;
	font-family:arial;
	font-size:13px;
	color:#000;
	text-decoration:underline;
	margin-top:4px;
	}
.track-hed{
	float:left;
	font-size:18px;
	width:90%;
	line-height:34px;
	}
.add-btn{
	float:right;
	}
.coin-info{
    color: #fff;
    font-family:arial;
    font-size: 17px;
    font-weight: normal;
    line-height: normal;
	background:url(../images/head-bg.png) repeat-x;
	height:40px;
	float:left;
	width:100%;
	margin-top:15px;
	line-height:40px;
	text-transform:uppercase;
}
.coin-info img{
	float:left;
	margin-left:1.5%;
	margin-top:4px;
	margin-right:6px;
	}
.user-dashboard{
	float:left;
	width:100%;
	margin-top:17px;
	margin-bottom:5px;
	}
.coin-div{
	float:left;
	width:195px;
	position:relative;
	}
.coin-pic{
	float:left;
	width:98%;
	height:auto;
	position:relative;
	}
.coin-pic img{
	width:100%;
	height:auto;
	}
.coin-pic:hover img{
	opacity:0.7;
	}
.coin-pic:hover div{
	display:block;
	opacity:1;
	z-index:10;
	}
.edit-btn{
	position:absolute;
	top:45%;
	left:35%;
	display:none;
	}
.edit-btn a{
	background:#ffb400;
	border-bottom:1px solid #b15c00;
	border-top:3px solid #b15c00;
	border-left:1px solid #b15c00;
	border-right:1px solid #b15c00;
	margin-top:10px;
	padding:4px 15px;
	font-size:18px;
	font-family:arial;
	cursor:pointer;
	position:1;
	color:#000;
	}
.coin-dets{
	float:left;
	background:url(../images/table-bg.png) repeat top left;
	width:700px;
	margin-left:10px;
	}
.addpage-coin-dets{
	float:left;
	background:url(../images/table-bg.png) repeat top left;
	width:100%;
	margin-top:15px;
	}
.con-bt{
	float:left;
	width:100%;
	margin-top:4px;
	}
.con-bt-left{
	float:left;
	width:18px;
	height:18px;
	margin-left:4px;
	}
.con-bt-right{
	float:right;
	width:18px;
	height:18px;
	margin-right:4px;
	}
.con-details{
	float:left;
	margin-left:20px;
	width:660px;
	font-size:13px;
	}
.con-details table{
	border-collapse:collapse;
	width:100%;
	}
.con-details table,th, td{
	border: 1px solid #ebc37d;
	padding:5px;
	}
.coin-info-label{
    color: #4d3000;
    font-family:arial;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
	/*background:#E6BF89;*/
}
.addpage-con-details{
	float:left;
	margin-left:20px;
	width:867px;
	font-size:13px;
	}
.addpage-con-details table{
	border-collapse:collapse;
	width:100%;
	}
.addpage-con-details table,th, td{
	border: 1px solid #ebc37d;
	padding:5px;
	}
		
hr{
    border: 0;
    height: 2;
    border-top: 1px solid #805000;
    border-bottom: 1px solid #805000;
	float:left;
	width:100%;
	margin-top:12px;
}
.coin-bill-track{
	float:left;
	background:url(../images/table-bg.png) repeat top left;
	width:100%;
	margin-top:15px;
	}
.bill-track-dets{
	float:left;
	margin-left:20px;
	width:868px;
	font-size:13px;
	}
.bill-track-dets table{
	border-collapse:collapse;
	width:100%;
	}
.bill-track-dets table,th, td{
	border: 1px solid #ebc37d;
	padding:5px;
	}
.map-div{
	float:left;
	width:100%;
	margin-top:15px;
	text-align:center;
	}
.map-info{
	float:left;
	width:100%;
	}
.size-text{
	float:left;
	width:100%;
	text-align:center;
	margin-bottom:10px;
	font-size:13px;
	font-family:arial;
	}
.size-text a:hover{
	text-decoration:underline;
	}
.remove{
	float:left;
	margin-left:15px;
	}
.remove a{
	background:#F5EAD7;
	padding:6px 10px;
	margin:0px;
	border-radius:4px;
	color:#D53827;
	text-decoration:none;
	}
.remove a:hover{
	text-decoration:underline;
	}
.remove_auctions{
	float:left;
	margin-left:15px;
	}
.remove_auctions a{
	background:#F5EAD7;
	padding:6px 10px;
	margin:0px;
	border-radius:4px;
	color:#D53827;
	text-decoration:none;
	}
.remove_auctions a:hover{
	text-decoration:underline;
	}
.add-coin-right{
	float:left;
	margin-left:0px;
	width:100%;
	}
.add-coin-pic{
	float:left;
	margin-left:5px;
	margin-right:5px;
	width:121px;
	text-align:center;
	margin-top:15px;
	}
.add-coin-pic img{
	width:100%;
	height:auto;
	float:left;
	margin-bottom:15px;
	}
.add-coin-pic a{
	background:#F5EAD7;
	padding:6px 10px;
	margin:0px;
	border-radius:4px;
	color:#D53827;
	text-decoration:none;
	}
.map-details{
	float:left;
	height:320px;
	width:100%;
	}                                 
.add-coin-2{
	float:left;
	width:44%;
	/*margin-top:10px;*/
	margin-left:2%;
	border:1px solid #B27300;
	padding:0.5% 1.5%;
	}
.input-text-2{
    border: 1px solid #B27300;
    float: left;
    height: 25px;
    padding: 0 3px;
    width: 96%;
}
.brows-file-2 {
    background: none repeat scroll 0 0 #A98346;
    float: left;
    padding: 3px;
    width: 96%;
}
.add-url{
	float:left;
	width:100%;
	}
.add-url-link{
	float:left;
	width:100%;
	margin-top:10px;
	padding-bottom:6px;
	border-bottom: 1px solid #d19c3b;
	}
.add-link{
	float:left;
	width:250px;
	font-family:arial;
	font-size:13px;
	}
.add-link a{
	text-decoration:underline;
	line-height:20px;
	}
.add-link a:hover{
	color:#000;
	text-decoration:none;
	}
.delete-ed{
	float:left;
	margin-left:10px;
	}
.delete-ed a{
	float:left;
	margin-left:10px;
	background:#F5EAD7;
	padding:4px 12px;
	border-radius:4px;
	}
.edit a{
	color:#000;
	}







